body {
    font-family: 'PT Mono', monospace;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    padding: 0px;
    font-size: 16px;
    opacity: 0.6;
}

li:first-letter {
    text-transform: capitalize;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px 0px 30px 0px; 
    display: block;
    border-radius: 10px;
}

.weather-app {
    padding: 20px;
    border: 1px solid #f0f0e4;
    border-radius: 10px;
    background-color: #f0f0e4;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.search-bar {
    margin: 20px 0px 20px 0px;
}

.form-control {
    background-color:#68bde1;
    border:transparent;
    border-radius: 10px;
    padding: 10px 20px;
}

.form-control:hover {
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
    background-color: #68bde1;
}

.search-button {
    color: #212529;
    background-color:#68bde1;
    border:transparent;
    border-radius: 10px;
    padding: 10px 20px;
}

.search-button:hover {
    background-color: #68bde1;
    color: #ec6e4c;
    filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.4));
}

.location-dot-button {
    color:#212529;
    border:transparent;
    border-radius: 10px;
    padding: 10px 20px;
    background-color:#68bde1;
}

.location-dot-button:hover {
    background-color: #68bde1;
    color: #ec6e4c;
    filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.4));
}

.clearfix .main-temperature {
    font-size: 70px;
    position: relative;
    bottom: -20px;
}

.clearfix .main-unit {
    font-size: 20px;
    position: relative;
    top: -16px;
}

.main-description {
    margin-bottom: 20px;
}

.main-icon {
    border-radius: 15px;
    background-color: #68bde1;
}

.weather-forecast {
    text-align: left;
    margin-top: 20px;
}

.forecast-icons {
    max-width: 50px;
    border-radius: 15px;
    background-color: #68bde1;  
}

.forecast-temp {
    font-size: 15px;
    text-align: left;
}

.forecast-temp-min {
    opacity: 0.6;
}



